/Animal.class
/AnimalInfo.class
/AnimalMapView.class
/DefaultRegion.class
/Diet.class
/DynamicSupplyRegion.class
/Entity.class
/FoodSupplier.class
/JSONable.class
/MapInfo.class
/Region.class
/RegionInfo.class
/RegionManager.class
/SelectionStrategy.class
/Sheep.class
/Simulator.class
/State.class
/Wolf.class
/SelectClosest.class
/SelectFirst.class
/SelectYoungest.class
